[submodule "legal-pdf-parser"]
	path = legal-pdf-parser
	url = https://github.com/eliziff/legal-pdf-parser.git
	branch = main
[submodule "AuthoritiesHelper"]
	path = AuthoritiesHelper
	url = https://github.com/eliziff/AuthoritiesHelper.git
	branch = main
[submodule "legal-browser-ocr"]
	path = legal-browser-ocr
	url = https://github.com/eliziff/legal-browser-ocr.git
	branch = main
[submodule "mike-workflows"]
	path = mike-workflows
	url = https://github.com/Open-Legal-Products/mike-workflows.git
	branch = main
[submodule "legal-structure"]
	path = legal-structure
	url = https://github.com/eliziff/legal-structure.git
	branch = main
